[submodule "libs/input-prototype"]
	path = libs/input-prototype
	url = https://ono.unity3d.com/labs/input-prototype
	branch = editorvr/custom-player-handle
[submodule "libs/UnityOctree"]
	path = libs/UnityOctree
	url = https://github.com/Nition/UnityOctree.git
