[submodule "libs/input-prototype"]
	path = libs/input-prototype
url=https://github.com/Unity-Technologies/input-prototype.git
	branch = editorvr/main
[submodule "libs/UnityOctree"]
	path = libs/UnityOctree
url=https://github.com/Unity-Technologies/UnityOctree.git
[submodule "libs/VRLineRenderer"]
	path = libs/VRLineRenderer
	url = https://github.com/Unity-Technologies/VRLineRenderer
