*.FBX	filter=lfs diff=lfs merge=lfs -crlf
*.a	filter=lfs diff=lfs merge=lfs -crlf
*.ai	filter=lfs diff=lfs merge=lfs -crlf
*.aif	filter=lfs diff=lfs merge=lfs -crlf
*.blend	filter=lfs diff=lfs merge=lfs -crlf
*.cubemap	filter=lfs diff=lfs merge=lfs -crlf
*.dll	filter=lfs diff=lfs merge=lfs -crlf
*.exr	filter=lfs diff=lfs merge=lfs -crlf
*.fbx	filter=lfs diff=lfs merge=lfs -crlf
*.gif	filter=lfs diff=lfs merge=lfs -crlf
*.jpeg	filter=lfs diff=lfs merge=lfs -crlf
*.jpg	filter=lfs diff=lfs merge=lfs -crlf
*.lxo	filter=lfs diff=lfs merge=lfs -crlf
*.mov	filter=lfs diff=lfs merge=lfs -crlf
*.mp3	filter=lfs diff=lfs merge=lfs -crlf
*.mp4	filter=lfs diff=lfs merge=lfs -crlf
*.obj	filter=lfs diff=lfs merge=lfs -crlf
*.ogg	filter=lfs diff=lfs merge=lfs -crlf
*.pdf	filter=lfs diff=lfs merge=lfs -crlf
*.png	filter=lfs diff=lfs merge=lfs -crlf
*.psd	filter=lfs diff=lfs merge=lfs -crlf
*.reason	filter=lfs diff=lfs merge=lfs -crlf
*.rns	filter=lfs diff=lfs merge=lfs -crlf
*.tga	filter=lfs diff=lfs merge=lfs -crlf
*.tif	filter=lfs diff=lfs merge=lfs -crlf
*.ttf	filter=lfs diff=lfs merge=lfs -crlf
*.wav	filter=lfs diff=lfs merge=lfs -crlf
*.zip	filter=lfs diff=lfs merge=lfs -crlf
*.lfs.*	filter=lfs diff=lfs merge=lfs -crlf
